
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

header,
.icon-image button,
.friends button,
.barista {
  background-color: #757575;
}

nav ul li a {
  text-decoration: none;
}

footer h3 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

footer ul li a {
  text-decoration: none;
  font-size: 1.235em;
}

nav ul li a,
.main-items h1,
.fa-long-arrow-right,
.icon-image,
.icon-image button,
.friends button,
footer ul li a,
.barista,
.barista a,
footer h3,
.shipping h3,
.shipping h1,
.shipping p,
.smashing-par h3,
.featured-smashing-book h2,
.smashing-par p,
.our-guide article,
.submit,
.footer-bottom,
.footer-bottom a {
  color: #fff;
}

/* navbar */

#logo {
  width: 190px;
  height: 90px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px 0 0;
}

.nav-items-link,
#search {
  font-size: 1.05em;
  font-weight: 700;
}

.more {
  width: 100px;
  height: 35px;
  background-color: rgb(169, 169, 169);
  text-align: center;
  padding: 17px 2px 0 2px;
  border-radius: 10px;
}

.nav-items-link:hover {
  width: 100px;
  height: 35px;
  background-color: rgb(169, 169, 169);
  text-align: center;
  padding: 17px 2px 0 2px;
  border-radius: 10px;
}

nav ul li {
  list-style: none;
}

.friends button {
  height: 36px;
  width: 120px;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 12px;
}

.barista button,
.button {
  height: 38px;
  width: 200px;
  margin-top: 18px;
  border-radius: 10px;
}

.logo-image,
.heading-section span,
.barista button {
  background-color: #fff;
}

.icon-image button {
  height: 36px;
  width: 150px;
  margin-top: 35px;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 15px;
}

#search,
.barista button,
.button,
.person-week h3,
.community-par p,
.icon-image button:hover {
  color: #757575;
}

#search {
  width: 280px;
  height: 40px;
  border-radius: 11px;
  padding-left: 10px;
}

/* main */

.featured-articles-container {
  min-height: 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.featured-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#featured-article1,
#featured-article2,
#featured-article3,
#featured-article4 {
  height: 90vh;
}

#featured-article1 {
  background-color: #aaa5a5;
}

#featured-article2 {
  background-color: #b6afaf;
}

#featured-article3 {
  background-color: #867e7e;
}

#featured-article4 {
  background-color: #666363;
}

.main-items {
  padding-bottom: 30px;
}

.main-items h1 {
  font-size: 40px;
  font-family: "Nunito Sans", sans-serif;
  margin: 20px auto;
  text-align: justify;
  width: 80%;
}

.person-logo {
  width: 87px;
  height: 96px;
  margin-top: 175px;
  margin-left: 50px;
  border-radius: 20px;
  transform: rotate(-15deg);
}

.logo-image {
  width: 50px;
  height: 50px;
  margin-top: 30px;
  border-radius: 12px;
  transform: rotate(-15deg);
}

.smashing-book {
  margin-right: 90px;
  margin-bottom: 60px;
  transform: rotate(-16deg);
}

.community-img {
  margin-left: 60px;
  transform: rotate(-15deg);
}

.footer-image {
  width: 30px;
  height: 30px;
  float: right;
  padding-left: 2%;
  padding-top: 2%;
  border-radius: 11px;
  margin-top: -2%;
  margin-right: 20px;
  background-color: rgb(87, 83, 83);
  transform: rotate(-16deg);
}

.person-logo:hover,
.logo-image:hover,
.img-of-person:hover,
.community-img:hover,
.smashing-book:hover,
.footer-image:hover {
  transform: rotate(0deg);
}

#arrow-right {
  margin-top: 37px;
}

.fa-long-arrow-right {
  margin: 100px auto auto 50px;
}

.heading-section {
  display: flex;
  position: absolute;
  top: 35px;
  left: 35%;
}

.heading-section h2,
.featured-smashing-book h2 {
  font-size: 38px;
  text-align: center;
  line-height: 1;
}

.icon-image {
  display: flex;
  margin-left: 200px;
}

.icon-image button:hover {
  background-color: #fff;
}

/* latest post section */

.latest-post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
  margin-left: 35px;
}

.featured-latest-post {
  width: 90%;
}

.featured-latest-post h2 {
  color: #111;
  font-size: 25px;
}

h5,
.featured-latest-post span,
.featured-latest-post p,
.see-all,
.person-week p,
.see-all-guide {
  color: #666;
}

h5,
.featured-latest-post span {
  font-weight: 700;
  font-size: 0.9em;
}

.featured-latest-post p {
  font-size: 20px;
}

/* friends and supporters */

.friends-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.friends {
  width: 70%;
  margin-left: 50px;
  margin-top: 100px;
  text-align: center;
}

.barista {
  height: 90vh;
  width: 55vw;
  border-radius: 10px;
  margin-right: 50px;
  margin-top: 100px;
  text-align: center;
}

.barista h1,
.shipping h1 {
  font-size: 3em;
}

.barista p {
  width: 80%;
  margin: auto;
  font-size: 18px;
  font-weight: 400;
}

.barista .small-text {
  font-size: 16px;
  margin-top: 13px;
}

.our-guide p {
  font-size: 1.125em;
}

#smashing {
  width: 70%;
  margin-top: 70px;
  margin-left: 70px;
}

.community-par p {
  font-size: 20px;
}

.person-week p {
  font-size: 20px;
  margin-right: 100px;
  line-height: 1.5;
}

.shipping p {
  width: 59%;
  font-size: 25px;
  margin: auto auto 50px auto;
}

#smashing p {
  margin-bottom: 300px;
}

.cat-smashing {
  height: 97vh;
  width: 60vw;
}

.see-all,
.see-all-guide {
  margin-left: 200px;
}

/* shipping */

.shipping {
  text-align: center;
  margin-top: 50px;
  background-color: #858181;
}

.shipping h3 {
  position: relative;
  top: 50px;
}

.shipping h1 {
  width: 60%;
  margin: 70px auto 23px auto;
}

.button {
  height: 70px;
  width: 350px;
  font-size: 20px;
}

/* community */

.person-of-the-week {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
}

.img-of-person .person-logo {
  width: 250px;
  height: 220px;
  margin-top: 40px;
}

.community-container {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
}

.community-persons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 30px;
}

.community-par {
  margin-left: -40%;
}

.community-par span {
  color: #5c5858;
  font-size: 20px;
  font-weight: 700;
}

.community-par h2 {
  font-size: 25px;
  font-weight: 800;
  margin-top: 13px;
}

/* smashing book */

.featured-smashing-book {
  display: flex;
  flex-direction: row-reverse;
  background-color: #7e7676;
  height: 60vh;
}

.smashing-par {
  display: flex;
  flex-direction: column;
  margin-right: 300px;
  margin-left: 80px;
  width: 80%;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.5;
}

.smashing-par h3 {
  font-size: 15px;
  margin-top: 50px;
}

.smashing-par h2 {
  text-align: left;
  margin-top: -5px;
  margin-bottom: 6px;
}

/* our guide */

.our-guide {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  width: 80%;
  margin-top: 50px;
  margin-left: 15%;
}

.our-guide article {
  margin-right: 100px;
  margin-bottom: 100px;
  padding: 35px;
  border-radius: 10px;
  background-color: rgb(150, 143, 143);
}

.our-guide h3 {
  color: rgb(41, 38, 38);
  font-size: 15px;
}

.our-guide h2 {
  font-size: 40px;
}

.input-field {
  margin-bottom: 10px;
}

.email,
.submit {
  padding: 1em 1.625em;
  font-size: 1.2em;
}

.email {
  color: rgb(107, 102, 102);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.submit {
  margin-left: -1%;
  background-color: gray;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.one-click {
  font-size: 1em;
  margin-left: 50px;
}

/* footer */

footer {
  background-color: rgb(129, 124, 124);
  height: 80vh;
}

.footer-links ul {
  display: grid;
  grid-template-columns: repeat(10, 4fr);
  width: 90%;
  margin-left: 3%;
  text-align: center;
}

.footer-links ul li {
  line-height: 1.8;
}

.footer-bottom {
  text-align: center;
  margin-top: 60px;
  line-height: 0.8;
}

.footer-bottom-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 35px;
}

.footer-bottom-links ul li a {
  font-size: 1em;
  margin-right: 25px;
  text-decoration: underline;
}
